/* Geral */

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Ubuntu", sans-serif;
}

body {
   background: linear-gradient(180deg, #4c8dee 0%, #8dd0f5 100%);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   flex-direction: column;

   background-position: center;
   background-size: cover;
}

/* Header */

header{
   position: absolute;
   top: 0;
   background-color: #fff;
   width: 100vw;
   
}
#city-input {
   padding: 0.8rem;
   flex: 1;
   border-radius: 4px;
}

@media (max-width: 700px){
   #city-input{
      position: absolute;
      top: 8vh;
      left: 0;
      width: 100vw;
   }
}

header button {
   padding: 0.8rem;
   min-width: 50px;
   margin-left: 8px;
   background-color: #8dd0f5;
   color: #fff;
   border: none;
   cursor: pointer;
   border-radius: 4px;
}

.content{
   height: 8vh;
   display: flex;
   padding: 1rem;
   align-items: center;
   justify-content: space-between;
   max-width: 1200px;
   margin: auto;
   gap: 2rem;
}

.hide {
   display: none !important;
}

.center{
   display: flex;
   align-items: center;
   justify-content: center;
}

.container {
   background-color: #4c8dee;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   padding: 2rem;
   color: #fdfdfd;
   border-radius: 1rem;
   max-width: 350px;
}

h3 {
   text-align: center;
   margin-bottom: 1rem;
}

/* Sugestões */

#suggestions{
   display: grid;
   justify-content: space-between;
   gap: 2rem;
   grid-template-columns: repeat(2, 100px);
}
#suggestions button{
   padding: 0.5rem;
   cursor: pointer;
   background-color: #8dd0f5;
   color: #fff;
   border: none;
   border-radius: 1rem;
   transition: .5ms;
}

#suggestions button:hover{
   transform: scale(1.1);
}

/* Clima */

#weather-data,
#error-message,
#loader,
#suggestions {
   border-top: 1px solid #fff;
   margin-top: 1.5rem;
   padding-top: 1.5rem;
   text-align: center;
}

#weather-data h2 {
   margin-bottom: 0.6rem;
}

#weather-data h2 i {
   font-size: 1rem;
}

#weather-data span {
   margin: 0.6rem;
}

#temperature {
   font-size: 4rem;
}

#country {
   height: 15px;
}

#description-container {
   margin: 0.6rem 0;
}

#description {
   text-transform: capitalize;
   font-weight: bold;
}

#details-container{
   display: flex;
   flex-direction: column;
}
#details-container div{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 3rem;
   width: 250px;
   border-top: 1px solid rgba(255, 255, 255, 0.432);
   margin: 0.6rem;
   padding: 0.6rem;
}

/* Containe erro */

.container-error{
   border-top: 1px solid #fff;
   margin-top: 1.5rem;
   padding: 1.5rem;
   text-align: center;
}

footer{
   position: absolute;
   bottom: 0;
   padding: 2rem;
}

/* Media query */

@media (max-width: 700px){
   
}